.Home {
  text-align: center;
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.A-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 40px;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
}

.A-wrap {
  width: 284px;
  background-color: white;
  color: black;
  font-size: medium;
  /* align-items: center;
  justify-content: center; */
}

.A-rating {
  background-color: white;
  font-weight: bold;
  color: red;
}

.A-judulInggris {
  font-weight: bold;
}
